<div>
  <ul class="nav-list">
    <li routerLinkActive="active" class="nav-list__item">
      <button>
        <mat-icon class="nav-list__item-icon" svgIcon="case"></mat-icon>
        <a class="link" routerLink="/timetable">Расписание</a>
      </button>
    </li>
    <li routerLinkActive="active" class="nav-list__item">
      <button>
        <mat-icon class="nav-list__item-icon" svgIcon="book"></mat-icon>
        <a class="link" routerLink="/journal">Электронный журнал</a>
      </button>
    </li>
    <li routerLinkActive="active" class="nav-list__item">
      <button>
        <mat-icon class="nav-list__item-icon" svgIcon="chat"></mat-icon>
        <a class="link" routerLink="/chat">Чаты групп</a>
      </button>
    </li>
    <li routerLinkActive="active" class="nav-list__item">
      <button>
        <mat-icon class="nav-list__item-icon" svgIcon="icon-admin"></mat-icon>
        <a class="link" routerLink="/settings">Настройки профиля</a>
      </button>
    </li>
  </ul>
</div>
